<!DOCTYPE html>
<html>
<head>
    <title>Create flight</title>
</head>
<body>
    <h1>Create flight</h1>
    <form action="/add_flight" method="POST">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{ date_str }}" required><br>

        <label for="flight_number">Flight Number:</label>
        <input type="number" id="flight_number" name="flight_number" value="{{ flight_number }}" required><br>

        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required><br>

        <label for="aircraft_model">Aircraft:</label>
        <input type="text" id="aircraft_model" name="aircraft_model" required><br>

        <label>Skidivers:</label>
        <table id="parachutists-table">
            <tr>
                <td>1</td>>
                <td><input type="text" name="parachutist" required></td>
                <td><button type="button" onclick="deleteSkydiver(this)">Delete</button></td>
            </tr>
        </table>
        <button type="button" onclick="addParachutist()">Add skydiver</button><br>

        <input type="submit" value="Submit">
    </form>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
