<html>
<head>
    <title>Next Flight</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            font-size: 24px;
        }

        .remaining-time {
            color: red;
        }
    </style>
</head>
<body>
<h1>Next Flight</h1>
    <p id="time"></p>
    <p id="flight-number"></p>
    <p id="aircraft"></p>
    <table id="parachutists-table">
    </table>
    <p id="no-flights"></p>
<script src="{{ url_for('static', filename='next_flight.js') }}"></script>
</body>
</html>